* {
    box-sizing: border-box;

}

body {
    margin: 0;
    font-family: Inter, sans-serif;
    background-color: #282D35;
}

nav {
    display: flex;
    align-items: center;
    background-color: #21222A;
    height: 90px;
    padding: 30px 25px;

}

.nav-logo-text,
.nav-title {
    margin: 0;
}

.nav-logo-text {
    margin-right: auto;
    color: #61DAFB;
    font-weight: 700;
    font-size: 22px;
}

.nav-title {
    color: #DEEBF8;
    font-weight: 600;
}

.nav--icon {
    height: 50px;
    margin-right: 7px;
}

@media (prefers-reduced-motion: no-preference) {

    .nav--icon {
        animation: nav-icon-spin infinite 20s linear;
    }
}

@keyframes nav-icon-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }

}

main {
    padding: 55px 27px;
    color: white;


}

.BG {
    background-image: url(./images/logo512.png);
    background-repeat: no-repeat;
    background-position: right;

}


.h1-text {
    margin: 0;
    font-size: 40px;
    letter-spacing: -0.05em;
}

.facts {
    margin-top: 46px;
    max-width: 400px;
}

.facts>li {
    line-height: 20px;
    padding-block: 8px;
}

.facts>li::marker {
    color: #61DAFB;
    font-size: 1.4rem;

}

.author {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
}

.author,
a {
    text-decoration: none;
    font-weight: 300;
    display: block;
    color: #DEEBF8;
    font-weight: bold;
    text-align: center;

}

.author {
    position: fixed;
    bottom: 0;
    padding-bottom: 25px;
    text-align: center;
    width: 100%;
    display: flex;



}

.zain:hover {
    transition: 0.3s ease-out;
    color: #DEEBF8;
    border-bottom: 1px solid #DEEBF8;
    padding: 7px;
}